{% ckan_extends %}

{% block organizations_search_form %}
  {% snippet 'organization/snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
{% endblock %}

<!-- JSTree is included, but so far does nothing. Need to encapsulate it in a
     'javascript module' -->
{% block scripts %}
  {{ super() }}
  {% resource 'jstree/jquery.jstree.js' %}
{#   {% resource 'scripts/toggle_view.js' %}   #}

{% endblock %}
